body {
  font-family: 'Helvetica Neue';
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.backdrop {
  fill: transparent;
}

.backdrop rect {
  stroke: gray;
}

.tasks circle {
  cursor: pointer;
}

.tasks text {
  cursor: pointer;
}

.save-zone {
  margin-bottom: 2em;
}

